# Blockchain
NEXT_PUBLIC_ALCHEMY_POLYGON_RPC=
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDT_POLYGON_ADDRESS=0xc2132D05D31c914a87C6611C10748AEb04B58e8F
NEXT_PUBLIC_KLEROS_ARBITRATOR_POLYGON=0x9C1dA9A04925bDfDedf0f6421bC7EEa8305F9002
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
PRIVATE_KEY_DEPLOYER=

# API
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cripex
REDIS_URL=redis://localhost:6379
JWT_SECRET=super-secret-change-in-production
JWT_EXPIRY=7d

# IPFS
PINATA_API_KEY=
PINATA_SECRET_KEY=
PINATA_GATEWAY=https://gateway.pinata.cloud

# Tracking
ANDREANI_API_KEY=
ANDREANI_USERNAME=
OCA_USERNAME=
OCA_PASSWORD=

# Notifications
RESEND_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001
